header .main_nav {
  display: flex;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  header .main_nav {
    padding: 10px 15px;
    display: block;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  header .main_nav {
    padding: 25px 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  header .main_nav {
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    background-image: url(./img/fisrt_background.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  header .logo-mobile {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  header .logo-mobile {
    display: flex;
    align-items: center;
    margin-left: 215px;
    margin-right: 93px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  header .main-links {
    width: 294px;
    margin-right: 331px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  header .main-links li:not(:last-child) {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  header .main-links li:not(:last-child) {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  header .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
header .main-links {
  display: flex;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  header .main-links {
    display: none;
  }
}
header .main-links li a {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  color: #212121;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  header .main-links {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 294px;
    margin-right: 331px;
  }
}
header .main-links li:not(:last-child) {
  margin-right: 50px;
}
header .second-links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
header .second-links li a {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  letter-spacing: 0.24px;
}
header .second-links li:nth-child(1) {
  margin-right: 50px;
}
header .contact-item,
header .contact-icon {
  display: flex;
}
header .contact-icon {
  width: 14px;
  height: 14px;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  header .contact-item,
  header .contact-icon,
  header .main-links,
  header .second-links {
    display: none;
  }
}
header .burger-menu {
  display: none;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  header .burger-menu {
    display: block;
  }
}
header .icon-phone,
header .contact-icon {
  width: 14px;
  height: 14px;
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  header .icon-phone,
  header .contact-icon {
    width: 16px;
    height: 12px;
  }
}

/*     NAVIGATION */
/*     .main_nav {
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .main_nav svg {
        width: 16px;
        height: 12px;
        flex-shrink: 0;
    } */
/*     .main_nav svg:hover {
        color: var(--hover-color);
        transition: 0.4s;
    }

    .main-links li a {
        color: #212121;
        font-size: 14px;
    }

    .main-links li a:hover {
        color: var(--hover-color);
        transition: 0.4s;
    }

    .main-links,
    .second-links {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .main-links li:not(:last-child) {
        margin-right: 50px;
    }

    .main-links {
        width: 294px;
        margin-right: 331px;
    }

    .main-links li a {
        color: #212121;
        font-size: 14px;
    }

    .main-links li a:hover {
        color: var(--hover-color);
        transition: 0.4s;
    }

    .second-links li:hover a {
        color: var(--hover-color);
        transition: 0.4s;
    }
 */
/*     .second-links li:hover .icon-phone {
        fill: var(--hover-color);
    }

    .second-links li:nth-child(1) {
        margin-right: 50px;
    }

    .contact-icon {
        fill: #212121;
    }

    .contact-icon {
        margin-right: 10px;
    }

    .mail,
    .phone {
        color: #757575;
        font-size: 14px;
    }
 */
/*     LOGO */
/*  .logo-link {
        display: flex;
        align-items: center;
        margin-left: 215px;
        margin-right: 93px;
    }
 */
.first {
  width: 100%;
  background-image: url("../../../img/fisrt_background.png");
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .first {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .first {
    background-size: cover;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .first {
    background-image: url("../../../img/fisrt_background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.first-text {
  padding: 200px 452px;
}

.hero {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px; /* 161.538% */
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

/*     .first {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }

    .hero {
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 0;
        color: #FFFFFF;
    }

    .button {
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 30px;


        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #FFFFFF;
        padding: 10px 32px;
        margin: 30px auto 0;
    } */
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 32px;
  margin: 30px auto 0;
}

.section2 {
  width: 100%;
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .section2 {
    margin-top: 94px;
  }
}

.aboutus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .aboutus {
    padding: 0 15px;
    display: block;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .aboutus {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .aboutus {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 94px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}
.aboutus .overlay {
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .aboutus .overlay {
    height: 120px;
  }
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .aboutus li {
    flex-basis: calc(50% - 60px);
    margin: 30px 0;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .aboutus li {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .aboutus li:not(:last-child) {
    margin-right: 50px;
  }
}

.icons-section2 {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

/* .section2 {
    margin-top: 94px;
}

.aboutus li h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
} */
.aboutus li h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .aboutus li h3 {
    width: 354px;
    height: 50px;
    flex-shrink: 0;
  }
}

.aboutus li p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .aboutus li p {
    width: 354px;
    height: 50px;
    flex-shrink: 0;
  }
}

.aboutus {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* .aboutus {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 94px;
}

.aboutus li:not(:last-child) {
    margin-right: 50px;
}

li .overlay {
    background-color: #F5F4FA;
}

.icons-section2 {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    padding: 25px 100px;
} */
.second {
  margin: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .second {
    display: none;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .second {
    display: none;
  }
}

.second {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .second {
    display: none;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .second {
    display: none;
  }
}

.pictures {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 50px 0 94px;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .pictures {
    display: none;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .pictures {
    display: none;
  }
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .team {
    padding: 60px 0 60px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .team {
    padding: 60px 0 60px;
  }
}

/* TEXT */
.third {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .third {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .third {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
  }
}

.third {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.third {
  margin: auto;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*     LIST */
.pictures-team {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .pictures-team {
    display: block;
  }
}
.pictures-team img {
  max-width: 100%;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .pictures-team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.pictures-team li {
  padding: 0px 30px 0px 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .pictures-team li {
    margin: 30px 15px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .pictures-team li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 354px;
    padding: 15px;
  }
}

.team-card {
  background-color: #FFF;
  padding: 30px 0;
  border-radius: 0 0 4px 4px;
}

.team-card h3 {
  margin-top: 0;
}

@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .team img {
    flex-shrink: 0;
  }
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.names {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.profession {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.team-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .team-icons {
    justify-content: center;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .team-icons {
    justify-content: center;
  }
}

.team-icons li {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 400ms;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .team-icons li:not(:last-child) {
    margin-right: 10px;
  }
}

.team-icons li:hover {
  background-color: #2196F3;
}

.team-icons svg {
  fill: #AFB1B8;
}

.team-icons li:hover svg {
  fill: #FFFFFF;
}

.icon-media {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .companies {
    padding: 60px 0;
  }
}

.companies svg {
  display: flex;
}

.companies-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 94px;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .companies-items {
    justify-content: space-evenly;
    padding: 0;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .companies-items {
    justify-content: space-evenly;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .companies-items li {
    margin-bottom: 30px;
  }
  .companies-items li:nth-child(5), .companies-items li:nth-child(6) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .companies-items li {
    margin-bottom: 30px;
  }
}

.icon-company {
  width: 106px;
  height: 60px;
  flex-shrink: 0;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: border 250ms, fill 250ms;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .icon-company {
    padding: 16px 60px;
  }
}

.icon-company:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

/*     TEXT */
.third {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.third {
  margin: auto;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .third {
    padding: 0;
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .third {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-top: 60px;
  }
}

.footer {
  background: #2f303a;
  padding-top: 94px;
  flex-shrink: 0;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .footer {
    padding: 60px 0 60px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .footer {
    padding: 60px 0 60px;
  }
}

@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .footer-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 89px 0px 76px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .footer-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .main-footer-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .main-footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
}

.address {
  color: #ffffff;
  padding-top: 20px;
}

.mail-footer,
.phone-footer {
  color: #757575;
  font-size: 14px;
  padding-top: 9px;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .footer-second {
    margin: 60px 0;
  }
}

.names-footer {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .names-footer {
    text-align: center;
  }
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 206px;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .footer-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer-icons li {
    display: flex;
  }
  .footer-icons li:not(:last-child) {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .footer-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer-icons li {
    display: flex;
  }
  .footer-icons li:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-icons li {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: contents;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 400ms;
}

.footer-icons li:hover {
  background-color: #2196f3;
}

.footer-icons svg {
  fill: #ffffff;
}

.icon-media {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.footer-third {
  margin-left: 93px;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .footer-third {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.names-footer {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* FORM */
.footer-form-button {
  flex-direction: row;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .footer-form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .main-form {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .main-form {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}

.label-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}

.footer-form-input {
  padding-left: 12px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .footer-form-input {
    width: 450px;
  }
}

.footer-form-button {
  flex-direction: row;
}
@media only screen and (min-width: 764px) and (max-width: 1023px) {
  .footer-form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.label-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}

/* BUTTON */
.button-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.button-footer {
  padding-left: 30px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 12px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  color: #fff;
}

.button-footer text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.button-footer {
  width: 200px;
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .button-footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-footer::after {
  content: "";
  margin-left: 12px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("./icomoon/icon-telegram.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 117, 117, 0.295);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: white;
  padding: 20px;
}

.button-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: none;
  position: absolute;
  border: 1px solid grey;
  border-radius: 50%;
}

.form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  height: 501px;
  background-color: white;
  padding: 20px;
}

.form-modal p {
  margin-bottom: 4px;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.form-label {
  padding-bottom: 4px;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.form-label div img {
  width: 18px;
  position: absolute;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.input-div {
  position: relative;
  display: block;
}

.input-div input {
  width: calc(100% - 42px);
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}

/* BUTTON-CLOSE-MODAL */
.button-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: none;
  position: absolute;
  border: 1px solid grey;
  border-radius: 50%;
}

.img-modal-close {
  width: 18px;
  height: 18px;
}

/* TEXTAREA */
.textarea {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  resize: none;
}

.textarea textarea {
  position: absolute;
  top: 67%;
  left: 50%;
  width: 416px;
  height: 96px;
  flex-shrink: 0;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

/* CHECKBOX */
.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox-label .checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  display: inline-block;
  margin-right: 8px;
  border-radius: 4px;
}

.checkbox-label .checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url("./icons_3/yes.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.checkbox-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

/* BUTTON */
.button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 32px;
  margin: 30px auto 0;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.buttons {
  width: 611px;
  padding: 94px 494px 50px 495px;
  height: 54px;
  margin: 0 auto;
}

.switch-buttons {
  padding: 6px 22px;
  border-radius: 4px;
  background: #F5F4FA;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border: 1px solid #F5F4FA;
}

.switch-buttons:hover {
  background: #2196F3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #FFF;
  border: 1px solid #2196F3;
}

/* CARDS */
.all-options-first,
.all-options-second,
.all-options-third {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 94px;
}

.all-options-first li {
  overflow: hidden;
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.all-options-first li div:not(:first-child) {
  padding: 24px;
}

/* PICTURE */
.img-thumb {
  position: relative;
}

.img-thumb:hover .thumb {
  transform: translateY(0);
}

/* TEXT */
.text-thumb {
  position: relative;
  background: white;
}

.text-thumb {
  z-index: 2;
}

/* POP-UP */
.thumb {
  padding-top: 4px;
  width: 370px;
  height: 294px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.8980392157);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 0.2s linear;
}

.thumb p {
  padding: 63px 24px;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  width: 322px;
  height: 168px;
}

body {
  font-family: Roboto;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  header .main_nav {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  header .logo-mobile {
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */