:root {
    --hover-color: #2196F3;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.mail,
.phone {
    color: #757575;
    font-size: 14px;
}

.main-links li a {
    color: #212121;
    font-size: 14px;
}

.second-links li:hover a {
    color: var(--hover-color);
    transition: 0.4s;
}

.second-links li:hover .icon-phone {
    fill: var(--hover-color);
}

.main-links li a:hover {
    color: var(--hover-color);
    transition: 0.4s;
}

.hero {
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}

.first {
    padding: 200px 452px;
    background-image: url(./img/fisrt_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    padding: 10px 32px;
    margin: 30px auto 0;
}

.aboutus li h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.aboutus li p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color: #757575;
}

.second {
    margin: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.pictures li img {
    width: 370px;
}

.third {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;

}

.button,
.profession,
.third,
.second,
.aboutus,
.first,
.names {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.main_nav {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.main_nav svg {
    width: 16px;
    height: 12px;
    flex-shrink: 0;
}

.main_nav svg:hover {
    color: var(--hover-color);
    transition: 0.4s;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-links,
.second-links {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    margin-left: 215px;
    margin-right: 93px;
}

header {
    height: 80px;
}

.main-links li:not(:last-child) {
    margin-right: 50px;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-links {
    width: 294px;
    margin-right: 331px;
}

.second-links li:nth-child(1) {
    margin-right: 50px;
}

.section2 {
    margin-top: 94px;
}

.aboutus {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 94px;
}

.aboutus li:not(:last-child) {
    margin-right: 50px;
}

.pictures {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 50px 0 94px;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
}

.third {
    margin: auto;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.pictures-team {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
}
.companies {
    background-color: #F5F4FA;
    padding-top: 94px;
}

.footer {
    background: #2F303A;
    width: 1600px;
    height: 252px;
    padding-top: 94px;
    flex-shrink: 0;
}

.address {
    color: #FFFFFF;
    padding-left: 215px;
    padding-top: 20px;
}

.logo-link-footer {
    padding-top: 60px;
    margin-left: 215px;
}

.second-links-footer {
    padding-left: 215px;
}

.buttons {
    width: 611px;
    padding: 94px 494px 50px 495px;
    height: 54px;
    margin: 0 auto;
}

.switch-buttons {
    padding: 6px 22px;
    border-radius: 4px;
    background: #F5F4FA;
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border: 1px solid #F5F4FA;
}

.switch-buttons:hover {
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    border: 1px solid #2196F3;
}

.all-options-first,
.all-options-second,
.all-options-third {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 94px;
}

.mail-footer,
.phone-footer {
    color: #757575;
    font-size: 14px;
    padding-top: 9px;
}

.icons-section2 {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    padding: 25px 100px;
}

.icon-media {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: #AFB1B8;
}
.icon-company {
width: 106px;
height: 60px;
flex-shrink: 0;
}
.companies svg{
    display: flex;


}
.companies-items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
}
.team-icons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 206px;
}
.names-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color:#FFFFFF
}