:root {
    --hover-color: #2196F3;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.mail,
.phone {
    color: #757575;
    font-size: 14px;
}

.main-links li a {
    color: #212121;
    font-size: 14px;
}

.mail:hover,
.phone:hover {
    color: var(--hover-color);
    transition: 0.4s;
}

.main-links li a:hover {
    color: var(--hover-color);
    transition: 0.4s;
}

.hero {
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}

.first {
    background: #2F303A;
    padding: 200px 452px 280px;

}

.button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    padding: 10px 32px;
    margin: 30px auto 0;
}

.aboutus li h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.aboutus li p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color: #757575;
}

.second {
    margin: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.pictures li img {
    width: 370px;
    display: flex;
    justify-content: space-between;

}

.third {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;

}

.button,
.profession,
.third,
.second,
.aboutus,
.first,
.names {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.main_nav {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-links,
.second-links {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    margin-left: 215px;
    margin-right: 93px;
}

header {
    height: 80px;
}

.main-links li:not(:last-child) {
    margin-right: 50px;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-links {
    width: 294px;
    margin-right: 331px;
}

.second-links li:nth-child(1) {
    margin-right:50px;
}

.section2 {
    margin-top: 94px;
}

.aboutus {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 94px;
}

.aboutus li:not(:last-child) {
    margin-right: 50px;
}
.pictures {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 50px 0 94px;
}
.team {
    background-color: #F5F4FA;
    padding-top: 94px;
}
.third {
    margin: auto;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.pictures-team {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
}
.main-links {
    margin: auto;
}
