.second {
    margin: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.second {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.pictures {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 50px 0 94px;
}