    .first {
        width: 100%;
        background-image: url('../../../img/fisrt_background.png');
    }
.hero {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
}
/*     .first {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }

    .hero {
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 0;
        color: #FFFFFF;
    }

    .button {
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 30px;


        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #FFFFFF;
        padding: 10px 32px;
        margin: 30px auto 0;
    } */

    .button {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }
