.footer {
  background: #2f303a;
  padding-top: 94px;
  flex-shrink: 0;

  @media only screen and (min-width: 0) and (max-width: 767px) {
    padding: 60px 0 60px;
  }

  @media only screen and (min-width: 764px) and (max-width: 1023px) {
    padding: 60px 0 60px;
  }

}

.footer-item {
  @media only screen and (min-width: 764px) and (max-width: 1023px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 89px 0px 76px;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1920px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.main-footer-info {
  @media only screen and (min-width: 0) and (max-width: 767px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }

  @media only screen and (min-width: 764px) and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
}

// .logo-link-footer {
//     padding-top: 60px;
//     margin-left: 215px;
// }

.address {
  color: #ffffff;
  // padding-left: 215px;
  padding-top: 20px;
}

.second-links-footer {
  // padding-left: 215px;
}

.mail-footer,
.phone-footer {
  color: #757575;
  font-size: 14px;
  padding-top: 9px;
}

.footer-second {

  // margin-left: 93px;
  @media only screen and (min-width: 0) and (max-width: 767px) {
    margin: 60px 0;
  }
}

.names-footer {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media only screen and (min-width: 0) and (max-width: 767px) {
    text-align: center;
  }
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 206px;

  @media only screen and (min-width: 0) and (max-width: 767px) {
    display: flex;
    justify-content: center;
    text-align: center;

    li {
      display: flex;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  @media only screen and (min-width: 764px) and (max-width: 1023px) {
    display: flex;
    justify-content: center;
    text-align: center;

    li {
      display: flex;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.footer-icons li {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  // display: flex;
  display: contents;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 400ms;
}

.footer-icons li:hover {
  background-color: #2196f3;
}

.footer-icons svg {
  fill: #ffffff;
}

.icon-media {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.footer-third {
margin-left: 93px;
  // margin-left: 93px;
  @media only screen and (min-width: 764px) and (max-width: 1023px) {

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.names-footer {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* FORM */
.footer-form-button {
  // display: flex;
  flex-direction: row;

  @media only screen and (min-width: 764px) and (max-width: 1023px) {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.main-form {
  @media only screen and (min-width: 0) and (max-width: 767px) {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  @media only screen and (min-width: 764px) and (max-width: 1023px) {

    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}

.label-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}

.footer-form-input {
  padding-left: 12px;
  // width: 358px;
  height: 50px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;

  @media only screen and (min-width: 764px) and (max-width: 1023px) {

    width: 450px;
  }
}

.footer-form-button {
  // display: flex;
  flex-direction: row;

  @media only screen and (min-width: 764px) and (max-width: 1023px) {

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.label-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}

/* BUTTON */
.button-footer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.button-footer {
  padding-left: 30px;
  // display: flex;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #ffffff;
  margin-left: 12px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  color: #fff;
}

.button-footer text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.button-footer {
  width: 200px;

  @media only screen and (min-width: 0) and (max-width: 767px) {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-footer::after {
  content: '';
  margin-left: 12px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('./icomoon/icon-telegram.png');
  background-size: contain;
  background-repeat: no-repeat;
}