header {
  .main_nav {
    display: flex;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      padding: 10px 15px;
      display: block;
    }

    @media only screen and (min-width: 764px) and (max-width: 1023px) {
      padding: 25px 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1920px) {
      margin-bottom: 32px;
      display: flex;
      justify-content: flex-start;
      height: 100%;
      background-image: url(./img/fisrt_background.png);
      background-size: cover;
      background-repeat: no-repeat;

    }
  }

  .logo-mobile {
    @media only screen and (min-width: 0) and (max-width: 767px) {
      display: flex;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1920px) {
      display: flex;
      align-items: center;
      margin-left: 215px;
      margin-right: 93px;
    }
  }

  .main-links {
    @media only screen and (min-width: 1024px) and (max-width: 1920px) {
      width: 294px;
      margin-right: 331px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }
  }

  .main-links li {
    @media only screen and (min-width: 764px) and (max-width: 1023px) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1920px) {
      &:not(:last-child) {
        margin-right: 50px;

      }
    }
  }

  .contact-item {
    @media only screen and (min-width: 764px) and (max-width: 1023px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .main-links {
    @media only screen and (min-width: 0) and (max-width: 767px) {
      display: none;
    }

    display: flex;

    li a {
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      color: #212121;
      text-decoration: none;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1920px) {
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      width: 294px;
      margin-right: 331px;
    }

    li:not(:last-child) {
      margin-right: 50px;
    }


  }

  .second-links {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .second-links li a {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    letter-spacing: 0.24px;
  }

  .second-links li:nth-child(1) {
    margin-right: 50px;
  }

  .contact-item,
  .contact-icon {
    display: flex;
  }

  .contact-icon {
    width: 14px;
    height: 14px;
  }

  .contact-item,
  .contact-icon,
  .main-links,
  .second-links {
    @media only screen and (min-width: 0) and (max-width: 767px) {
      display: none;
    }
  }

  .burger-menu {
    display: none;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      display: block;
    }
  }

  .icon-phone,
  .contact-icon {
    width: 14px;
    height: 14px;

    @media only screen and (min-width: 1024px) and (max-width: 1920px) {
      width: 16px;
      height: 12px;

    }
  }

}

/*     NAVIGATION */
/*     .main_nav {
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .main_nav svg {
        width: 16px;
        height: 12px;
        flex-shrink: 0;
    } */

/*     .main_nav svg:hover {
        color: var(--hover-color);
        transition: 0.4s;
    }

    .main-links li a {
        color: #212121;
        font-size: 14px;
    }

    .main-links li a:hover {
        color: var(--hover-color);
        transition: 0.4s;
    }

    .main-links,
    .second-links {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .main-links li:not(:last-child) {
        margin-right: 50px;
    }

    .main-links {
        width: 294px;
        margin-right: 331px;
    }

    .main-links li a {
        color: #212121;
        font-size: 14px;
    }

    .main-links li a:hover {
        color: var(--hover-color);
        transition: 0.4s;
    }

    .second-links li:hover a {
        color: var(--hover-color);
        transition: 0.4s;
    }
 */
/*     .second-links li:hover .icon-phone {
        fill: var(--hover-color);
    }

    .second-links li:nth-child(1) {
        margin-right: 50px;
    }

    .contact-icon {
        fill: #212121;
    }

    .contact-icon {
        margin-right: 10px;
    }

    .mail,
    .phone {
        color: #757575;
        font-size: 14px;
    }
 */
/*     LOGO */
/*  .logo-link {
        display: flex;
        align-items: center;
        margin-left: 215px;
        margin-right: 93px;
    }
 */