.buttons {
    width: 611px;
    padding: 94px 494px 50px 495px;
    height: 54px;
    margin: 0 auto;
}

.switch-buttons {
    padding: 6px 22px;
    border-radius: 4px;
    background: #F5F4FA;
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border: 1px solid #F5F4FA;
}

.switch-buttons:hover {
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    border: 1px solid #2196F3;
}

/* CARDS */
.all-options-first,
.all-options-second,
.all-options-third {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 94px;
}

.all-options-first li {
    overflow: hidden;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    ;
}

.all-options-first li div:not(:first-child) {
    padding: 24px;
}

/* PICTURE */
.img-thumb {
    position: relative;
}

.img-thumb:hover .thumb {
    transform: translateY(0);
}

/* TEXT */
.text-thumb {
    position: relative;
    background: white;
}

.text-thumb {
    z-index: 2;
}

/* POP-UP */
.thumb {
    padding-top: 4px;
    width: 370px;
    height: 294px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #2196F3E5;
    opacity: 1;
    transform: translateY(100%);
    transition: transform 0.2s linear;

}

.thumb p {
    padding: 63px 24px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    width: 322px;
    height: 168px;
}



